django>=4.2,<4.3
djangorestframework>=3.14,<3.15
djangorestframework-camel-case==1.4.2
djangorestframework-csv==2.1.1
django-filter==23.2
django-environ==0.10.0
psycopg==3.1.9
gunicorn==21.2.0
sentry-sdk[django]==1.29.2