Django~=5.2.8
PyYAML~=6.0
djangorestframework~=3.16
djangorestframework-camel-case~=1.4
djangorestframework-csv~=3.0
django-cors-headers~=4.8
django-environ~=0.12
django-filter~=25.0
drf-spectacular
gunicorn~=23.0
inflection~=0.5
psycopg[c]
sentry-sdk[django]~=2.37
uritemplate~=4.2
